body{background-color: #F0F2E8;
	color:#2A1816;
	font-size:28px;
	margin:0;
	padding:0;
	font-family:OpenSans-Light;
	text-align: center}

h1,h2,h3,h4 {font-family:Kurale-Regular;
	font-weight: normal}

figcaption p {font-size:20px;}

header {background-image: url("images/background/headerFon.jpg");
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
	color:#FBE9CB;
	padding-bottom: 10px;}

header section p {font-family:OpenSans-Regular;
	margin-top:15px}

header section img {padding-top: 80px;}

header a{font-size: 22px;
	transition: 0.5s}

header section div a:hover {background-color: rgba(30,92,99,0.6)}

header section h1 {font-size: 100px;
	letter-spacing: 8px;
	font-family: Kurale-Regular;
	text-transform:uppercase;
	text-align: left;
	color:#FBE9CB;
	margin-bottom: 0px}

div.chashechka {padding-bottom: 70px;
	padding-top:70px;
	display: block;
	text-align: left;}

header p{text-align: left}

nav ul {margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	padding-top:20px}

nav li:first-child {display:none;}

nav a {color:#FBE9CB;
	padding-left:30px;
	padding-right:30px;}

header div a {color:#FBE9CB;
	border-radius:6px;
	border:1px #FBE9CB solid;
	padding-left:40px;
	padding-right:40px;
	padding-top:10px;
	padding-bottom:10px}

li{list-style:none}

a{text-decoration: none;
	font-family:OpenSans-Bold;
	font-size: 22px}

section h1 {font-size:60px;
	color:#1E5C63;
	margin-top: 0;
	padding-top: 50px}

section.header {width:90%;
	max-width: 1180px;
	margin-left: auto;
	margin-right:auto;}

section.sectionOne {max-width: 1180px;
	width:90%;
	margin-left: auto;
	margin-right:auto;}

section.sectionTwo {max-width: 1180px;
	width:90%;
	margin-left: auto;
	margin-right:auto;}

section.sectionFour {max-width: 1180px;
	width:90%;
	margin-left: auto;
	margin-right:auto;}

section.sectionFive {max-width: 1180px;
	width:90%;
	margin-left: auto;
	margin-right:auto;}

section.sectionSix {max-width: 1180px;
	width:90%;
	margin-left: auto;
	margin-right:auto;}

section.footer {max-width: 1180px;
	width:90%;
	margin-left: auto;
	margin-right:auto;}

section.one {background-image: url("images/background/lightFon.jpg")}
section.one figure {display: inline-block;
	width: 17%;
	vertical-align:top;}
section.one h3{color:#883322}

section.two {background-image: url("images/background/darkFon.jpg")}
section.two h3 {color:#883322}
section.two figure {display: inline-block;
	width: 26%;
	vertical-align:top;
	text-align: left}
section.two a {color:#6A513B}

section.three {background-image: url("images/background/section-3Fon.jpg");
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;}
section.three {display: flex;
	justify-content: center;
	padding-top: 106px;
	padding-bottom:62px}

section.four {background-image: url("images/background/lightFon.jpg")}
section.four figure h1 {font-size: 55px;
	color:#1E5C63;
	padding-top:30px;
	margin:0;}
section.four figcaption h3 {color:#883322;}
section.four figure {display: inline-block;
	width: 17.5%;
	vertical-align: top;}

section.five a{border-radius:6px;
	color:#FBE9CB;
	border:1px #BF8E5D solid;
	background-color: #BF8E5D;
	padding-left:30px;
	padding-right:30px;
	padding-top:10px;
	padding-bottom:10px;}
section.five h3 {margin: 0;
	color:#883322}
section.five figure {display: inline-block;
	width: 17.5%;
	vertical-align: top;}
section.five {background-image: url("images/background/darkFon.jpg");
	padding-bottom: 50px;
	padding-top: 10px}
section.five img {transition: 0.8s}
section.five img:hover {transform: scale(1.07);}
section.five figcaption a {transition: 0.7s}
section.five figcaption a:hover {background-color:rgba(30,92,99,0.8);	
	border:1px rgba(30,92,99,0.8) solid}

section.six figure {display: inline-block;
	width: 17.5%;
	vertical-align: top;}
section.six {background-image: url("images/background/lightFon.jpg");
	padding-bottom:50px}

footer img {padding-top: 70px;
	padding-bottom: 80px;}

footer {background-image: url("images/background/footerFon.jpg");
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	padding-top: 50px;
	padding-bottom:70px;
	color:#FBE9CB;}

footer h2 {padding-top: 80px;}

footer p{margin:0;
	font-size: 20px;
	font-style:normal}

@font-face {font-family:OpenSans-Light; 
	src:url(fonts/OpenSans/OpenSans-Light.ttf)}

@font-face {font-family:OpenSans-Bold; 
	src:url(fonts/OpenSans/OpenSans-Bold.ttf)}

@font-face {font-family:OpenSans-Regular; 
	src:url(fonts/OpenSans/OpenSans-Regular.ttf)}

@font-face {font-family:Kurale-Regular; 
	src:url(fonts/Kurale/Kurale-Regular.ttf)}






@media (max-width: 600px){
	body{background-color: #F0F2E8;
	color:#2A1816;
	font-size:28px;
	margin:0;
	padding:0;
	font-family:OpenSans-Light;
	text-align: center}

h1,h2,h3,h4 {font-family:Kurale-Regular;
	font-weight: normal}

figcaption p {font-size:20px;}

header {background-image: url("images/background/headerFon.jpg");
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
	color:#FBE9CB;
	padding-bottom: 10px;
	text-align: center}

header section p {font-family:OpenSans-Regular}

header section img {padding-top: 80px;}

header section div a{display: inline-block;
	font-size: 22px;
	transition: 0.5s}

header section div a:hover {background-color: rgba(30,92,99,0.6)}

header section h1 {font-size: 100px;
	letter-spacing: 8px;
	font-family: Kurale-Regular;
	text-transform:uppercase;
	text-align: center;
	color:#FBE9CB;}

div.chashechka {padding-bottom: 30px}

header p{text-align: left}

nav li:first-child{
	display:block}

nav ul li{
    padding:10px 20px;
    margin-right:20px;
	text-transform:uppercase}

nav {display: flex;
	overflow:hidden;
	height:70px;
	transition: height 1s;}

nav:hover{height:345px}

nav ul {margin: 0px;
	display: flex;
	flex-direction:column;
    flex-wrap:nowrap;
    justify-content:flex-start;
	list-style-type:none;}

nav li:first-child {display:block;}

nav li{padding: 5px 25px;
    margin-bottom:5px;
	text-align: center;}

nav li a {display: flex;
	flex-direction: column-reverse;
	color:#FBE9CB;
	padding-left: 200px;
	padding-right: 230px;}

header div a {color:#FBE9CB;
	border-radius:6px;
	border:1px #FBE9CB solid;
	padding-left:40px;
	padding-right:40px;
	padding-top:10px;
	padding-bottom:10px}

li{list-style:none}

a{text-decoration: none;
	font-family:OpenSans-Bold;
	font-size: 22px}

section h1 {font-size:45px;
	color:#1E5C63;
	margin-top: 0;
	padding-top: 50px}

section.one {background-image: url("images/background/lightFon.jpg")}
section.one figure {display: inline-block;
	width: 100%;
	vertical-align:top;}
section.one h3{color:#883322}

section.two {background-image: url("images/background/darkFon.jpg")}
section.two h3 {color:#883322}
section.two figure {width: 100%;
	text-align: left}
section.two a {color:#6A513B}

section.three {background-image: url("images/background/section-3Fon.jpg");
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;}
section.three {display: flex;
	justify-content: center;
	padding-top: 106px;
	padding-bottom:62px}

section.four {background-image: url("images/background/lightFon.jpg")}
section.four figure h1 {color:#1E5C63;
	padding-top:30px;
	margin:0;}
section.four figcaption h3 {color:#883322;}
section.four figure {
	width: 100%;}

section.five a{border-radius:6px;
	color:#FBE9CB;
	border:1px #BF8E5D solid;
	background-color: #BF8E5D;
	padding-left:30px;
	padding-right:30px;
	padding-top:10px;
	padding-bottom:10px;}
section.five h3 {margin: 0;
	color:#883322}
section.five figure {width: 100%;}
section.five {background-image: url("images/background/darkFon.jpg");
	padding-bottom: 50px;
	padding-top: 10px}
section.five img {transition: 0.8s}
section.five img:hover {transform: scale(1.07);}

section.six figure {display: inline-block;
	width: 100%;
	vertical-align: top;}
section.six {background-image: url("images/background/lightFon.jpg");
	padding-bottom:50px}

footer img {padding-top: 70px;
	padding-bottom: 80px;}

footer {background-image: url("images/background/footerFon.jpg");
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	padding-top: 50px;
	padding-bottom:70px;
	color:#FBE9CB;}

footer h2 {padding-top: 80px;}

footer p{margin:0;
	font-size: 20px;
	font-style:normal}

@font-face {font-family:OpenSans-Light; 
	src:url(fonts/OpenSans/OpenSans-Light.ttf)}

@font-face {font-family:OpenSans-Bold; 
	src:url(fonts/OpenSans/OpenSans-Bold.ttf)}

@font-face {font-family:OpenSans-Regular; 
	src:url(fonts/OpenSans/OpenSans-Regular.ttf)}

@font-face {font-family:Kurale-Regular; 
	src:url(fonts/Kurale/Kurale-Regular.ttf)}}
